apiVersion: v1
kind: Namespace
metadata:
  name: hivemq
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: broker-depl-name
  namespace: hivemq
  labels:
        app: myappbroker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myappbroker
  template:
    metadata:
      labels:
        app: myappbroker
    spec:
      containers:
      - name: broker-container
        image: hivemq/hivemq-ce
        resources:
          limits:
            memory: "0.6Gi"
            cpu: "300m"  
          requests:
            memory: "0.2Gi"
            cpu: "150m"  
        ports:
        - containerPort: 1883
---
apiVersion: v1
kind: Service
metadata:
  name: my-service-broker
  namespace: hivemq
spec:
  selector:
    app: myappbroker
  type: LoadBalancer  
  ports:
  - port: 1883
    targetPort: 1883
    nodePort: 30005